<div class="shared">
  <%- if controller_name != 'sessions' %>
  <%= link_to t(".Se connecter", :default => "Se connecter"), new_session_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to t(".S'inscrire", :default => "S'inscrire"), new_registration_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to t(".Mot_de_passe_oublié ?", :default => "Mot de passe oublié?"), new_password_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to t('.Vous n\'avez pas reçu d\'instructions de confirmation?', :default => "Vous n'avez pas reçu d'inscription de confirmation?"), new_confirmation_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to t('.Vous n\'avez pas reçu d\'instructions de déverrouillage?', :default => "Vous n'avez pas reçu d'instructions de déverrouillage"), new_unlock_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to t('.sign_in_with_provider', :provider => provider.to_s.titleize, :default => "Sign in with #{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider) %><br />
    <% end -%>
  <% end -%>

</div>
