<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Auranys Application - Accueil" %></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="example-menu"></button>
        <div class="title-bar-title">Auranys Application</div>
        </div>

        <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <% if user_signed_in? %>
              <li class="menu-text">Dashboard</li>
            <% else %>
              <li class="menu-text">Connection en attente...</li>
            <% end %>
            <% if user_signed_in? %>
            <li><a class="text-link" href="#">Tiers</a></li>
            <li><a class="text-link" href="#">Ventes</a></li>
            <li><a class="text-link" href="#">Produits</a></li>
            <% end %>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <% if !user_signed_in? %>
              <div class="button-group-option" data-grouptype="OU">
                <li><%= link_to "connection", new_user_session_path, class: "button success radius" %></li>
                <li><%= link_to "inscription", new_user_registration_path, class: "button primary radius" %></li>
              </div>
            <% end %>
            <% if user_signed_in? %>
            <li><a href="#" class="text-link"><%= current_user.email %></a></li>
            <li><a class="text-link" href="">Paramètre</a></li>
            <li><%= link_to t('.sign_out', :default => "Déconnection"), destroy_user_session_path, method: 'delete' %></li>
            <% end %>
          </ul>
        </div>
    </div>
      <div class="notice" style="margin-left:70px; color: green;"><%= notice %></div>
      <div class="alert" style="margin-left:70px; color: red"><%= alert %></div>
    <%= yield %>
  </body>
</html>
